@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900; /* Variable font weight range */
	src: url("../font/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}
@font-face {
	font-family: "Inter";
	font-style: italic;
	font-weight: 100 900;
	src: url("../font/Inter-Italic-VariableFont_opsz\,wght.ttf")
		format("truetype");
}

p {
	font-family: "Inter";
}

body {
	margin: 0;
}

.highlight {
	font-weight: 700;
	color: #fd804a;
}

a {
	color: #000 !important;
	text-decoration: dotted !important;
	background-color: #f9dacc;
	transition: ease-in-out;
}

a:hover {
	color: #fff !important;
	background-color: #fd804a;
	transition: ease-in-out;
}
